<h1>All Teams</h1>
<table>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
